/* style for visavail.js */
.awake_data {
    /* blocks that have awake data */
    fill: #FFD67A;
}

.restless_data {
    /* blocks that have restless data */
    fill: #FFA13B;
}

.light_data {
    /* blocks that have light sleep data */
    fill: #569BB2;
}

.normal_data {
    /* blocks that have normal sleep data */
    fill: #2F739E;
}

.rem_data {
    /* blocks that have rem sleep data */
    fill: #274A7B;
}

.deep_data {
    /* blocks that have deep sleep data */
    fill: #221D63;
}

.unknown_data {
    /* blocks that have deep sleep data */
    fill: #ddd;
}

.awake_data:hover {
    fill: #FFBA60;
}

.restless_data:hover {
    fill: #EA861E;
}

.light_data:hover {
    fill: #398197;
}

.normal_data:hover {
    fill: #005B84;
}

.rem_data:hover {
    fill: #003462;
}

.deep_data:hover {
    fill: #00084B;
}

.unknown_data:hover {
    fill: #ccc;
}

.awake_tooltip {
    /* color of symbol in tooltips that have awake data */
    color: #FFD67A;
}

.restless_tooltip {
    /* color of symbol in tooltips that have awake data */
    color: #FFA13B;
}

.light_tooltip {
    /* color of symbol in tooltips that have light sleep data */
    color: #569BB2;
}

.normal_tooltip {
    /* color of symbol in tooltips that have normal sleep data */
    color: #2F739E;
}

.rem_tooltip {
    /* color of symbol in tooltips that have rem sleep data */
    color: #274A7B;
}

.deep_tooltip {
    /* color of symbol in tooltips that have deep sleep data */
    color: #221D63;
}

.unknown_tooltip {
    /* color of symbol in tooltips that have deep sleep data */
    color: #ccc;
}

div.tooltip {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    width: auto;
    border: 0;
    border-left: thin solid #000000;
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

.x_tick_emph {
    font-weight: bold;
}

.ytitle {
    /* y axis labels */
    dominant-baseline: middle;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.ytitle.link {
    /* y axis label with link */
    cursor: pointer;
    fill: #07C;
}

.axis path,
.axis line {
    display: none;
}

.axis text {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.vert_grid_emph {
    fill: none;
    stroke: #dddddd;
    stroke-width: 2px;
}

.horz_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.heading {
    font-size: 16px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.subheading {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.legend {
    dominant-baseline: middle;
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}